@import '../variables.css';

.searchBar {
  border: 3px solid;
  width: 100%;
  padding: 10px 12px;
  outline: none;
  margin: 0 auto 10px;
  text-align: center;
}

.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
